img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: 200px;
    margin-left: 20px;
    margin-top: 20px;
}
ol{
    margin-top: 30px;
}
ul{

    list-style-type: circle;
}
table,
td
th{
border : 1px solid black
}
table
td{
     border-collapse:collapse ;
}
th{
    column-span: 3;
    background-color: hsl(110, 100%, 75%);
}
tbody{
    background-color: rgb(18, 101, 101);
}